.from-left,
.from-right,
.from-up,
.from-down {
  transition: $transition-3;
  opacity: 0;
}

.from-left.appear,
.from-right.appear,
.from-up.appear,
.from-down.appear {
  transform: translateX(0);
  opacity: 1;
}

.from-left {
  transform: translateX(-100%);
}

.from-right {
  transform: translateX(100%);
}

.from-up {
  transform: translateY(-350%);
}

.from-down {
  transform: translateY(50%);
}

.to-out {
  backdrop-filter: blur(10px);
  transform: scale(2);
  transition: transform .5s ease-in;

  @media only screen and (max-width: $bp-6) {
    transform: scale(1.2);
  }
}

.to-out.appear {
  backdrop-filter: none;
  transform: scale(1);
}