.social {
  &__top {

    // width: 20rem;
    // display: flex;
    // justify-content: space-between;

    @include grid-center-5;
    grid-template-columns: repeat(5, min-content);
    justify-content: end;
    column-gap: 2rem;

    &-icon {
      width: 2rem;
      height: 2rem;
      @include hover-active;
    }
  }

}